<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="Players" type="Unit.Tests.XmlSerializerSectionHandler.XmlSerializerSectionHandler, Unit.Tests" />
	</configSections>

	<configProtectedData>
		<providers>
			<add name="X509Provider"
				type="Unit.Tests.EncryptConfigSectionByCertificate.X509ProtectedConfigurationProvider, Unit.Tests"
				thumbprint="e8563155d5598feb7d59d35153dcfb488727f636"
			/>
		</providers> 
	</configProtectedData>

	<Players type="Unit.Tests.XmlSerializerSectionHandler.Config.Players, Unit.Tests">

		<Player type="Unit.Tests.XmlSerializerSectionHandler.Config.Player, Unit.Tests">
			<FirstName>Homer</FirstName>
			<LastName>Simpson</LastName>
			<SupportsTeam>Leeds United</SupportsTeam>
		</Player>

		<Player type="Unit.Tests.XmlSerializerSectionHandler.Config.Player, Unit.Tests">
			<FirstName>Peter</FirstName>
			<LastName>Griffin</LastName>
			<SupportsTeam>Wales</SupportsTeam>
		</Player>

	</Players>

</configuration>